<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>phineas jensen</title>
    <link rel="stylesheet" href="/index.css" />
    <script
      data-goatcounter="https://phinjensen.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <a href="/"><img id="avatar" src="/me.png" /></a>
        <nav class="navigation">
          <ul>
            <li><a href="/">about me</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/phineas_jensen_resume.pdf">résumé</a></li>
            <li><a href="https://github.com/phinjensen">github</a></li>
          </ul>
          <ul>
            <li><a href="https://en.osm.town/@phinjensen">mastadon</a></li>
            <li>
              <a href="https://rateyourmusic.com/~uncleshelby">rateyourmusic</a>
            </li>
            <li>
              <a href="https://www.goodreads.com/user/show/39581420-phin-jensen"
                >goodreads</a
              >
            </li>
            <li>
              <a href="https://letterboxd.com/uncleshelby/">letterboxd</a>
            </li>
            <li><a href="https://last.fm/user/heliosfire">last.fm</a></li>
          </ul>
        </nav>
      </div>
      <div class="content">{{- block "main" . }}{{ end }}</div>
      <div class="sidebar"></div>
    </div>
    <footer>{{ replace .Site.Copyright "{year}" now.Year }}</footer>
  </body>
</html>
