<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>phineas jensen</title>
    <link rel="stylesheet" href="/index.css" media="none" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="/index.css" ></noscript>
    <script
      data-goatcounter="https://phinjensen.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
<script>
var SERIOUS_BUSINESS_KEY = "serious_business";
document.addEventListener("DOMContentLoaded", (event) => {
  var checkbox = document.querySelector("#enserious-avatar");
  checkbox.onchange = function(event) {
    var value = event.target.checked ? "on" : "off";
    window.localStorage.setItem(SERIOUS_BUSINESS_KEY, value);
    var url_params = new URLSearchParams(window.location.search);
    if (value === "on") {
      url_params.set(SERIOUS_BUSINESS_KEY, value);
    } else {
      url_params.delete(SERIOUS_BUSINESS_KEY);
    }
    var url = new URL(window.location.href);
    url.search = url_params.toString();
    window.history.replaceState(null, '', url.toString());
  }

  var serious_business_local = window.localStorage.getItem(SERIOUS_BUSINESS_KEY);
  var url_params = new URLSearchParams(window.location.search);
  var serious_business_param = url_params.get(SERIOUS_BUSINESS_KEY);
  if (serious_business_local === "on" || serious_business_param === "on") {
    document.querySelector("#enserious-avatar").checked = true;
    var url = new URL(window.location.href);
    url_params.set(SERIOUS_BUSINESS_KEY, "on");
    url.searchParams = url_params;
    window.history.pushState(null, '', url.toString());
  }
});
</script>
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <div id="avatar-container">
          <label for="enserious-avatar">
            Serious Business Mode
          </label>
          <input type="checkbox" id="enserious-avatar">
          <a id="avatar" href="/">
            <img width="192" height="192" src="/me.webp" class="avatar-unserious-fun" alt="cartoon line drawing of face"/>
            <img width="192" height="243" src="/me-serious-business.webp" class="avatar-serious-business" alt="cartoon line drawing of face wearing a suit and tie" />
          </a>
        </div>
        <nav class="navigation">
          <ul>
            <li><a href="/">about me</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/projects">projects</a></li>
            <li><a href="/phineas_jensen_resume.pdf">résumé</a></li>
            <li><a href="https://github.com/phinjensen">github</a></li>
          </ul>
          <ul>
            <li><a href="https://en.osm.town/@phinjensen">mastadon</a></li>
            <li>
              <a href="https://rateyourmusic.com/~uncleshelby">rateyourmusic</a>
            </li>
            <li>
              <a href="https://www.goodreads.com/user/show/39581420-phin-jensen"
                >goodreads</a
              >
            </li>
            <li>
              <a href="https://letterboxd.com/uncleshelby/">letterboxd</a>
            </li>
            <li><a href="https://last.fm/user/heliosfire">last.fm</a></li>
          </ul>
        </nav>
      </div>
      <div class="content">{{- block "main" . }}{{ end }}</div>
      <div class="sidebar"></div>
    </div>
    <footer>{{ replace .Site.Copyright "{year}" now.Year }}</footer>
  </body>
</html>
