@font-face {
  font-family: "Plex Mono";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url("IBMPlexMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Plex Mono";
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url("IBMPlexMono-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Plex Mono";
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url("IBMPlexMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Plex Mono";
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: url("IBMPlexMono-BoldItalic.woff2") format("woff2");
}
