@import url("Charter/charter.css");
@import url("Plex Mono/plex-mono.css");
@import url("Vollkorn/vollkorn.css");

:root {
  --link-color: #036163;
  --background-color: #eff0f1;
}

body {
  background-color: var(--background-color);
  font-family: charter;
  font-size: 13pt;
  line-height: 1.4;
}

a {
  display: inline-block;
  color: var(--link-color);
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

a:hover {
  text-decoration: none;
}

sup {
  line-height: 1;
}

a.footnote-ref,
a.footnote-backref {
  text-decoration: none;
  line-height: 1;
  margin-left: 2px;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Vollkorn;
  font-weight: bold;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

blockquote {
  font-size: 12pt;
  line-height: 1.3;
  padding: 0 0.5em 0.5em;
  background: #dee0e3;
  border-radius: 4px;
}

blockquote :last-child {
  margin-bottom: 0;
}

blockquote :first-child {
  margin-top: 0;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.sidebar {
  flex: 0 0 192px;
}

#avatar {
  width: 100%;
}

.navigation {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: space-around;
}

.navigation ul {
  padding-left: 0;
  margin: 0;
}

.navigation li {
  list-style-type: none;
}

.content {
  flex: 0 0 40em;
  overflow: hidden;
}

.content #body {
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.content #body img {
  max-width: 100%;
}

code {
  font-family: "Plex Mono";
  font-size: 11pt;
  background-color: white;
  border-radius: 4px;
  padding: 0 2px;
  line-height: 1;
}

.highlight pre {
  overflow: auto;
}

.highlight code {
  display: inline-block;
  padding: 8px;
  background-color: inherit;
  border-radius: 0;
  line-height: 1.4;
}

footer {
  text-align: center;
  margin-top: 2em;
}

.blog-post.panel {
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 4px;
  background: white;
}

.blog-post.panel .header {
  margin-top: 0;
}

.blog-post.panel .description {
  font-family: Vollkorn;
}

.expand {
  border-radius: 4px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.expand .header {
  font-family: Vollkorn;
  line-height: 1;
  width: 100%;
}

.expand .status {
  flex: 0 0 auto;
  padding: 1em;
}

.expand .expand-plus {
  display: inline-block;
}

.expand .expand-minus {
  display: none;
}

.expand :checked ~ .header .expand-minus {
  display: inline-block;
}

.expand :checked ~ .header .expand-plus {
  display: none;
}

.expand label {
  cursor: pointer;
  flex: 0 1 auto;
}

.expand .collapsed {
  padding: 1em;
  display: none;
}

.expand :checked ~ .collapsed {
  border-top: 1px solid var(--background-color);
  display: block;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    flex: 0 0 100%;
    padding-right: 0;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  #avatar {
    width: 128px;
    padding-right: 32px;
  }

  .wrapper {
    width: 800px;
    flex-wrap: wrap;
    gap: 0;
  }

  .content {
    flex: 0 0 100%;
  }

  .navigation {
    flex-direction: row;
  }
}

@media screen and (max-width: 640px) {
  .sidebar {
    flex: 0 0 100%;
    padding-right: 0;
    padding-top: 0;
    display: flex;
    flex-wrap: nowrap;
  }

  #avatar {
    width: 128px;
    padding-right: 32px;
  }

  .wrapper {
    width: 100%;
    flex-wrap: wrap;
  }

  .content {
    flex: 0 0 100%;
  }

  .content #body {
    text-align: left;
  }
}
