@import url("Charter/charter.css");

:root {
  --link-color: #036163;
}

body {
  font-family: charter;
  font-size: 14pt;
  line-height: 1.4;
}

a {
  display: inline-block;
  color: var(--link-color);
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  width: 1024px;
}

.sidebar {
  flex: 0 1 256px;
  padding-right: 32px;
  padding-top: 32px;
}

#avatar {
  width: 224px;
}

.sidebar ul {
  padding-left: 0;
}

.sidebar li {
  list-style-type: none;
}

.content {
  flex: 0 1 auto;
}

footer {
  text-align: center;
}
